.card {
  padding: 0.5rem;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 0.5rem;
  background-clip: border-box;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 350px;
}

.card-header {
  flex-direction: column;
  font-weight: 700;
}

.card-body {
  font-style: italic;
}

.card-footer {
  font-size: small;
  text-align: end;
}

.separator {
  border-top: 1px solid rgb(228, 228, 228);
  height: 0px;
}
